extends layouts/basic

block above_content

	include includes/splash

block content
	table.table.table-striped
		thead
			tr
				th Time
				th IP
				th Method
				th End Point
				th Status
		tbody
			each log in logs
				tr
					td.logTS=log.ts
					td=log.ip
					td=log.method
					td
						a(href=log.endPoint)=log.endPoint
					td=log.status

block append scripts
	script
		$(function() {
			$('.logTS').each(function() {
				this.innerHTML = moment(Number(this.innerHTML)).calendar();
			});
		});


